doctype 5
//- include world

html
	head
		title Hello from flask
	body
		h1 Welcome
		form(action='login', method='POST')
			lebel
				| User
				input(type='text', name='user')
			lebel
				| Password
				input(type='text', name='password')

				input(type="submit", value="")
